/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/04/2020, 03:34:41
    Author     : Thiago
*/

@font-face{
font-family: 'sketch';
    src: url('util/fonts/sketch3D.woff') format('woff'),
        url('util/fonts/sketch3D.ttf') format('truetype');
}

html{
   scroll-behavior: smooth;
}

body {
    
}

#navbar {
    //background-color: rgba(247,247,247,0.1) !important;
    //transition-duration: 800ms;
}

.sobre-text {
    //background-color: #F0F8FF;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.inicio {
    //background-image: radial-gradient(farthest-corner at -150px -150px , #fff 0%, #000044 100%);
    background-image: url(util/comave/thumb-1920-589399.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    //color: #fff;
    //font-size: large;
    //text-shadow: 1px 1px 2px #000;
    //padding-top: 300px;
    padding-bottom: 100vh;
}

#textdiv {
    text-align: end;
    background: rgba(0,0,0,0.2);
    position: absolute;
    margin: 28vh 0 0 0;
    color: #fff;
    border-radius: 5px;
    padding: 1em;
}

#videoBG {
    position: fixed;
    z-index: -1;
    width: 100%;
}

@media(max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media(min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    //text-shadow: -3px 3px 1px #0685cb;
}

h6 {
    font-family: 'Archivo Black', sans-serif;
    //text-shadow: -2px 2px 1px #0685cb;
}

.btn-default {
    color: #fff;
    background-color: #289bd9;
    border-radius: 5px;
}

.btn-default:hover {
    color: #fff;
    background-color: #0984c7;
}

.sobre {
    background-color: #f3f3f3;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: large;
}

.servicos {
    background-color: #f3f3f3;
    padding-bottom: 100px;
}

.servicos h1 {
    color: #fff;
}

.contato {
    background-image: linear-gradient(#2d3f64,#222222);
    padding-top: 80px;
    padding-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px #000;
    //font-size: large;
}

.contato a {
    color: #f2f3f4;
    text-decoration: none;
}

.contato a:hover {
    text-decoration: underline;
    color: #fff;
    font-weight: 500;
}

.nocolor {
    padding: 4%;
}

.floating-text {
    padding: 4%;
    border-radius: 3px;
    background: rgba(45, 63, 100, 1);
    max-width: 900px;
    //border: 1px solid;
    //padding: 10px;
    box-shadow: 9px 9px #adadad;
}

p {
    font-size: larger;
}

.card {
    margin-bottom: 1rem;
    font-size: small;
    width: 17rem;
}

.nav-item a {
    color: black !important;
}

.nav-item a:hover {
    background-color: #0685cb;
    color: #fff !important;
    text-height: inherit;
}

.modal-header {
    background-image: linear-gradient(to right, #f98220, #fff);
    color: #fff !important;
    text-shadow: 1px 1px #000;
}

.footer {
    height: 35px;
    color: #919191;
    text-shadow: 1px 1px #000;
    background-color: #28292b;
}

.footer a {
    color: #919191;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
}

#socials {
    text-align: end;
}