/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/06/2020, 10:34:32
    Author     : Thiago
*/

.cartao {
    //background-color: #F0F8FF;
    text-align: justify;
    padding: 75px 0 75px 0;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
}

.cartao2 {
    background-color: #CEDBE4;
}

textArea {
    resize: none;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
}

legend {
    font-family: 'Archivo Black', sans-serif;
}

.header {
    color: #fff;
    padding-top: 325px;
    padding-bottom: 25px;
    background-image: url('util/comave/thumb-1920-589399.jpg');
}

.formulario {
    margin: 50px 0 50px 0;
}

.footer {
    height: 35px;
    color: #919191;
    text-shadow: 1px 1px #000;
    background-color: #28292b;
}

.footer a {
    color: #919191;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
}

.nav-item a {
    color: black !important;
}

.nav-item a:hover {
    background-color: #0685cb;
    color: #fff !important;
    text-height: inherit;
}

a {
    color: #fff;
}

a:hover {
    color: #CEDBE4;
}